.navbar {
    position: relative;
}
#NavLogo {
    position: relative;
    left: 50%;
    margin: -220px !important;  /* 50% of your logo width */
    /* display: block; */
    height: 50px;
    width: 150px;
    padding-bottom: 5px;
}
.navbar-brand {
    font-style: bold;
}
.nav-link {
    font-style: bold;
}
.nav-item {
    padding-top: 5px;
    padding-left: 8px;
    margin-left: 5px;
}
#Navbar1 {
    text-align: center;
}