.navbar {
    position: relative;
}
#NavLogo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    height: 50px;
    width: 150px;
    padding-bottom: 5px;
}
.navbar-brand {
    font-style: bold;
}
.nav-link {
    font-style: bold;
}