.card-img-top {
    height:100px;
    width:100px;
    align-self:center;
}
.unitCard {
    word-wrap: break-word;
    width:210px;
    border-color: black;
    border:solid;
    border:1px;
}
.row {
    padding:14px;
}