.jumbotron {
    position: absolute;  
    left: 50%;
    margin-left: -50px !important;
    display: block;
    height: 300;
    width: 100;
    clear: both;
    padding-top: 120;
    text-align: center;
}