.form {
  margin: 20px;
}
.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 80px;
  width: 50%;
}
.formDivSI {
  width: 350px;
  height: 150px;
  margin-left: 510px;
  margin-top: 100px; 
  position: absolute;
  background-color: rgb(185, 188, 190);
  text-align: center;
}
.fontSI {
  color: white;
}