.welcomeDiv {
    height: 200px;
    width: 300px;
    background-color: rgb(185, 188, 190);
    padding-top: 30px;
    position: relative;
    margin-left: 200px;
    margin-top: 100px;
    border-color: black;
    border-width: 5px;
    text-align: center;
    z-index: 1;
}
/* .columnDiv {
    height: 100vh;
    width: 700px;
    background-color: rgb(243, 245, 238);
    position: absolute;
    z-index: 1;
    margin-left: 330px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
} */
.welSI {
    margin-left: 112px;
    position: absolute;
    z-index: 3;
}
.welSU {
    margin-left: 110px;
    margin-top: 30px;
    position: absolute;
    z-index: 3;
}
.welcomeFont {
    color: white;
}
.col-md-8 {
    width: auto;
    height: 200px;
    margin: 0 auto;
}
button:hover {
    background: rgb(195, 195, 201);
}