.NMimg {
    height: 100px;
    width: 100px;
}
.md-6 {
    justify-content: center;
    width: 50%;
}
.fourZerofour {
    height: 300px;
    width: 300px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
.welcomeDiv {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: auto;
    margin-left: 200px;
    margin-top: 100px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    text-align: center;
}
.columnDiv {
    height: 100vh;
    width: 700px;
    position: absolute;
    z-index: 1;
    margin-left: 330px;
}