#column1 {
    background-color: rgb(60, 34, 206);
}
#column2 {
    background-color: rgb(86, 209, 116);
}
#column3 {
    background-color: rgb(156, 30, 30);
}
/* Container for flexboxes */
.row {
    display: flex;
    height: 100%;
}
/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 100%;
    /* overflow: hidden; */
}