html { 
    background: url("http://www.4usky.com/data/out/25/164198982-dark-space-wallpapers.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
.welcomeDiv {
    height: 200px;
    width: 300px;
    background-color: rgb(117, 130, 146);
    padding-top: 30px;
    position: relative;
    z-index: auto;
    margin-left: 200px;
    margin-top: 100px;
    border-color: black;
    border-width: 5px;
    text-align: center;
    z-index: 1;
}
/* .columnDiv {
    height: 100vh;
    width: 700px;
    background-color: rgb(243, 245, 238);
    position: absolute;
    z-index: 1;
    margin-left: 330px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
} */
.welSI {
    margin-left: 112px;
    position: absolute;
    z-index: 2;
}
.welSU {
    margin-left: 110px;
    margin-top: 30px;
    position: absolute;
    z-index: 2;
}