html { 
    background: url("http://www.4usky.com/data/out/24/164198711-dark-space-wallpapers.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: -1;
  }
.welcomeDiv {
    height: 300px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: auto;
    margin-left: 200px;
    margin-top: 100px;
    border-color: black;
    border-width: 5px;
    text-align: center;
}
.columnDiv {
    height: 100vh;
    width: 700px;
    background-color: rgb(243, 245, 238);
    position: absolute;
    z-index: 1;
    margin-left: 330px;
}