.form {
  margin: 20px;
}
.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.formDivSU {
  width: 350px;
  height: 200px;
  margin-left: 510px;
  margin-top: 100px;
  position: absolute;
  background-color: rgb(117, 130, 146);
  text-align: center;
}
.fontSU {
  color: white;
}